@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(images/header-image.png);
    height: 80vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main .box{
    height: 80vh;
    background-color: black;
    width: 100%;
    opacity: 0.70;
    top: 0;
    position: absolute;
}
nav{
    display: flex;margin: auto;
max-width: 90vw;
justify-content: space-between;
height: 62px;
    align-items: center;
}
nav img{
    color: red;
    width: 154px;
    top: 10px;
    position: relative;
    z-index: 1;
}
nav button{
    position: relative;
    z-index: 2;
}
.hero{
    height:calc(100% - 62px);
    position: relative;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: "Martel Sans", sans-serif;
    justify-content: center;
    gap: 1px;

}
.hero> :first-child{
    font-weight: 900;
    font-family: "poppins";
    font-size: 40px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.spertian{
    height: 7px;
    background-color: rgb(170, 167, 167);
}
.btn{
    padding: 3px 23px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 3px;
 
    border-style: none;
   background-color: blanchedalmond;
}
.btn-red{
background-color: red;
color: white;
padding: 3px 23px;
font-size: 20px;
height: 50px;
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.main input{
    padding: 3px 20px;
    border-radius: 3px;
    border: 0.5px solid white ;
    font-size: 15px;
    width: 305px;
    height: 45px;
    background-color: rgb(23,23,23,0.4);
}
section{
    margin: auto;
    color: white;
    display: flex;
    align-items: center center;
    margin-top: 25px;
  justify-content: space-around;

}
.word{
margin-top: 50px;
font-family: "Martel Sans", sans-serif;
margin-left: 25px;
}

.secimg img{
    width: 44vw;
    margin-top: 5px;
position: relative;
z-index: 1;
}
.video{
    position: absolute;
    width: 38vw;
    left: 49vw;
    margin: 38px;
    background-repeat: no-repeat;

}
.spertians{
    height: 5px;
    background-color: gray;
    margin-top: 10vh;
}
.word span{
    font-size: 32px;
   color: whitesmoke;
   font-family: "Maretel sens";
}
.faq{
color: white;
padding: 34px;
font-size: 24px;
/* background-color: black; */

}
.faqbox{
    background-color : rgb(90, 86, 86);
max-width: 60vw;
padding: 25px;
color: white;
cursor: pointer;
display: flex;
justify-content: space-between;
/* margin-left: 20vw; */
margin:24px auto;

}
.faqbox:hover{
background-color: red;
transition-duration: 0.5s;
}
.faqbox svg{
    filter: invert(2);
}

.anshu h2{
    color: white;
 text-align: center;
    font-size: 15px;
}
.kumar{
    display: flex;

  top: 23px;
  gap: 10px;
    justify-content: center;
    align-items: center;
}

.kumar input{
    width: 25vw;
    height: 8vh;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    background-color: transparent;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    max-width: 90vw;
    margin: 25px;
    margin-bottom: 25px;
}
.footer-item{
    display: flex;
    flex-direction: column;
}
.footer-item a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
footer span{
    color: white;
    font-size: 12px;
}